<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Johannes Scribante</title>
</head>
<body>
<header>
    <h2>about</h2>
    <a href="../index.html">home</a>
</header>
<main>
    <div id="title"></div>
</main>


</body>
</html>