.section-1 {
    height: 80vh;
}

.shade {
    margin: auto 0;
    background: #f9f9f9 ;
}

.chain-section-1-bg {
    background: #ffa949 url('./../assets/chain_coffee_colour.jpg') no-repeat center bottom / cover;
}

/* section 2 */
.section-2 {
    color: grey;
}

.article-text {
    padding: 10px;
    max-width: 50ch;
}

.article-img {
    margin: auto 0;
}

.img-dimensions {
    padding: 10px;
    max-width: 300px;
    max-height: 300px;
}

/* ---------------------
	Media
------------------------ */

/*@media screen and (max-width: 667px) {*/
    /**/
/*}*/