/* ---------------------
	Calling Webfonts
------------------------ */

/*@font-face {*/
    /*font-family: 'Droid Serif';*/
    /*src: url('webfonts/DroidSerif-webfont.eot');*/
    /*src: url('webfonts/DroidSerif-webfont.eot?#iefix') format('embedded-opentype'),*/
    /*url('webfonts/DroidSerif-webfont.woff') format('woff'),*/
    /*url('webfonts/DroidSerif-webfont.ttf') format('truetype'),*/
    /*url('webfonts/DroidSerif-webfont.svg#droid_serifregular') format('svg');*/
    /*font-weight: normal;*/
    /*font-style: normal;*/
/*}*/

/*@font-face {*/
    /*font-family: 'Droid Serif';*/
    /*src: url('webfonts/DroidSerif-Italic-webfont.eot');*/
    /*src: url('webfonts/DroidSerif-Italic-webfont.eot?#iefix') format('embedded-opentype'),*/
    /*url('webfonts/DroidSerif-Italic-webfont.woff') format('woff'),*/
    /*url('webfonts/DroidSerif-Italic-webfont.ttf') format('truetype'),*/
    /*url('webfonts/DroidSerif-Italic-webfont.svg#droid_serifitalic') format('svg');*/
    /*font-weight: normal;*/
    /*font-style: italic;*/
/*}*/

/*@font-face {*/
    /*font-family: 'Droid Serif';*/
    /*src: url('webfonts/DroidSerif-Bold-webfont.eot');*/
    /*src: url('webfonts/DroidSerif-Bold-webfont.eot?#iefix') format('embedded-opentype'),*/
    /*url('webfonts/DroidSerif-Bold-webfont.woff') format('woff'),*/
    /*url('webfonts/DroidSerif-Bold-webfont.ttf') format('truetype'),*/
    /*url('webfonts/DroidSerif-Bold-webfont.svg#droid_serifbold') format('svg');*/
    /*font-weight: bold;*/
    /*font-style: normal;*/
/*}*/

/*@font-face {*/
    /*font-family: 'Droid Serif';*/
    /*src: url('webfonts/DroidSerif-BoldItalic-webfont.eot');*/
    /*src: url('webfonts/DroidSerif-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),*/
    /*url('webfonts/DroidSerif-BoldItalic-webfont.woff') format('woff'),*/
    /*url('webfonts/DroidSerif-BoldItalic-webfont.ttf') format('truetype'),*/
    /*url('webfonts/DroidSerif-BoldItalic-webfont.svg#droid_serifbold_italic') format('svg');*/
    /*font-weight: bold;*/
    /*font-style: italic;*/
/*}*/

/* ---------------------
	Base Styles
------------------------ */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    /*font-family: 'Droid Serif', serif;*/
    margin: 0;
    font-family: 'Helvetica Neue', serif;
    background: #f9f9f9;
    color: #333;
    text-align: center;
}

.page-content {
    padding-top: 50px;
}

/* ---------------------
	Font Styles
------------------------ */

.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.bold-italic {
    font-weight: bold;
    font-style: italic;
}

/* ---------------------
	Page Styles
------------------------ */

p {
    margin: 1em 0;
}

.section {
    display: flex;
    padding: 10px;
}

.v-center {
    margin: auto 0;
}

.h-center {
    text-align: center;
}

.left,
.right {
    flex-grow: 1;
}

/* ---------------------
	Basic Styles
------------------------ */

.section-dark {
    color: grey;
    background: rgb(43, 43, 43);
}

.section-light {
    background: rgb(217, 215, 217);
}

.img-basic {
    width: 100%;
    max-width: 400px;
    height: 100%;
    max-height: 400px;
}

/* ---------------------
	Media
------------------------ */

@media screen and (max-width: 667px) {
    .page-content {
        padding-top: 42px;
    }

    .section {
        flex-direction: column;
    }
}

/* ---------------------
	Toggle
------------------------ */

.hide-block {
    display: none;
}

.show-block {
    display: block;
}